@font-face {
    font-family: 'BONY';
    src: url('BONY.eot');
    src: url('../fonts/BONY.eot') format('embedded-opentype'),
        url('../fonts/BONY.woff2') format('woff2'),
        url('../fonts/BONY.woff') format('woff'),
        url('../fonts/BONY') format('truetype'),
        url('../fonts/BONY') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TS Remarker';
    src: url('../fonts/TSRemarker-Regular.eot');
    src: url('../fonts/TSRemarker-Regular.eot') format('embedded-opentype'),
        url('../fonts/TSRemarker-Regular.woff2') format('woff2'),
        url('../fonts/TSRemarker-Regular.woff') format('woff'),
        url('../fonts/TSRemarker-Regular') format('truetype'),
        url('../fonts/TSRemarker-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

body {
background-color: #1a1a1a;
font-family: 'BONY', sans-serif;
hyphens: auto;
}

.header {
	text-align: center;
	color: #d0ded4;
}
.btn {
    margin-top: 14rem;
    display: inline-block;
    font-size: 2rem;
background-color: #343137;
color: #ebbaef;
transition: all 0.2s;
}
.btn-1 {
    background-color: #2e1b1b;
    color: #f54444;
}
.btn:hover {
    cursor: pointer;
    background-color: #343137;
    filter: brightness(400%);
}
.btn-1:hover {
    background-color: #a91515
}
.img {
    margin-top: 2rem;
    display: inline-block;
}
.img-1 {
    display: inline-block;
}
.tx {
    text-align: center;
    font-size: 1rem;
    color: #ca67d3;
}
.tx-1 {
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    color: #a91515;
}
@media (max-width: 1200px) {
.row {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn {
    margin-right: auto;
    width: 9.5rem;
    margin-left: auto;
    display: block;
}
.tx {
    margin-right: auto;
    width: 9.5rem;
    margin-left: auto;
    display: block;
    text-align: center;
}
.tx-1 {
    margin-right: auto;
    width: 9.5rem;
    margin-left: auto;
    display: block;
    text-align: center;
    }
    .img {
        width: 10rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    }
    .img-1 {
    width: 10rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    }
}
@media (max-width: 800px) {
.row {
    width: 40%;
    margin-left: 30%;
    margin-right: auto;
    display: block;
}
.btn {
    margin-right: auto;
    width: 9.5rem;
    margin-left: auto;
    display: block;
}
.tx {
    margin-right: auto;
    width: 9.5rem;
    margin-left: auto;
    display: block;
    text-align: center;
}
.tx-1 {
    margin-right: auto;
    width: 9.5rem;
    margin-left: auto;
    display: block;
    text-align: center;
    }
    .img {
        width: 9rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    }
    .img-1 {
    width: 9rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    }
}


