@font-face {
    font-family: 'BONY';
    src: url('BONY.eot');
    src: url('../fonts/BONY.eot') format('embedded-opentype'),
        url('../fonts/BONY.woff2') format('woff2'),
        url('../fonts/BONY.woff') format('woff'),
        url('../fonts/BONY') format('truetype'),
        url('../fonts/BONY') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
background-color: #151719;
font-family: 'BONY', sans-serif;
hyphens: auto;
}

.container {
    max-width: 1500px;
}


.row {
margin-top: 1rem;
margin-bottom: 3rem;
}

.btn {
    font-size: 2rem;
    margin-top: 2rem;
background-color: #343036;
color: #eaa9ad;
transition: all 0.2s;
margin-bottom: 2rem;
}
.btn:hover {
    cursor: pointer;
    background-color: #343137;
    filter: brightness(400%);
}